{{.Red}}┌──────────────────────────────────────────────────────────────────────┐
{{.Red}}│{{.Blue}} CURRICULUM VITAE                                                     {{.Red}}│
{{.Red}}└──────────────────────────────────────────────────────────────────────┘{{.Reset}}

 John Doe                 2712 Broadway St       john.doe@example.org
 J.A. Doe                 CA 99115               (912) 555-4321
                          San Francisco, CA

{{.Red}}┌──────────────────────────────────────────────────────────────────────┐
{{.Red}}│{{.Blue}} Profiles                                                             {{.Red}}│
{{.Red}}└──────────────────────────────────────────────────────────────────────┘{{.Reset}}

 website:        http://johndoe.com
 github:         https://github.com/johndoe
 twitter:        https://twitter.com/johndoe

{{.Red}}┌──────────────────────────────────────────────────────────────────────┐
{{.Red}}│{{.Blue}} Work                                                                 {{.Red}}│
{{.Red}}└──────────────────────────────────────────────────────────────────────┘{{.Reset}}

 {{.Bold}}XYZ Corp, San Francisco{{.Reset}}                                june 2014 - now
 software developer                                 https://xyzcorp.com

 {{wrap "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." 70 }}

 {{.Bold}}ABC Corp, San Francisco{{.Reset}}                          june 2013 - june 2014
 software developer                                 https://abccorp.com

 {{ wrap "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." 70 }}

{{.Red}}┌──────────────────────────────────────────────────────────────────────┐
{{.Red}}│{{.Blue}} Education                                                            {{.Red}}│
{{.Red}}└──────────────────────────────────────────────────────────────────────┘{{.Reset}}

 {{.Bold}}Software Development{{.Reset}}                                      2010 - 2013
 University of Awesomeness

 {{ wrap "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." 70 }}
