{{.Red}}┌──────────────────────────────────────────────────────────────────────┐
{{.Red}}│{{.Blue}}          ______                _            __                       {{.Red}}│
{{.Red}}│{{.Blue}}         / ____/_  ____________(_)______  __/ /_  ______ ___          {{.Red}}│
{{.Red}}│{{.Blue}}        / /   / / / / ___/ ___/ / ___/ / / / / / / / __ `__ \         {{.Red}}│
{{.Red}}│{{.Blue}}       / /___/ /_/ / /  / /  / / /__/ /_/ / / /_/ / / / / / /         {{.Red}}│
{{.Red}}│{{.Blue}}       \____/\__,_/_/  /_/  /_/\___/\__,_/_/\__,_/_/ /_/ /_/          {{.Red}}│
{{.Red}}│{{.Blue}}                       _    ___ __                                    {{.Red}}│
{{.Red}}│{{.Blue}}                      | |  / (_) /_____ ____                          {{.Red}}│
{{.Red}}│{{.Blue}}                      | | / / / __/ __ `/ _ \                         {{.Red}}│
{{.Red}}│{{.Blue}}                      | |/ / / /_/ /_/ /  __/                         {{.Red}}│
{{.Red}}│{{.Blue}}                      |___/_/\__/\__,_/\___/                          {{.Red}}│
{{.Red}}│                                                                      │
{{.Red}}└──────────────────────────────────────────────────────────────────────┘{{.Reset}}

 John Doe                 2712 Broadway St       john.doe@example.org
 J.A. Doe                 CA 99115               (912) 555-4321
                          San Francisco, CA

{{.Red}}┌──────────────────────────────────────────────────────────────────────┐
{{.Red}}│{{.Blue}} Profiles                                                             {{.Red}}│
{{.Red}}└──────────────────────────────────────────────────────────────────────┘{{.Reset}}

 website:        http://johndoe.com
 github:         https://github.com/johndoe
 twitter:        https://twitter.com/johndoe

{{.Red}}┌──────────────────────────────────────────────────────────────────────┐
{{.Red}}│{{.Blue}} Work                                                                 {{.Red}}│
{{.Red}}└──────────────────────────────────────────────────────────────────────┘{{.Reset}}

 {{.Bold}}XYZ Corp, San Francisco{{.Reset}}                                june 2014 - now
 software developer                                 https://xyzcorp.com

 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
 eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
 minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
 aliquip ex ea commodo consequat. 

 {{.Bold}}ABC Corp, San Francisco{{.Reset}}                          june 2013 - june 2014
 software developer                                 https://abccorp.com

 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
 eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
 minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
 aliquip ex ea commodo consequat. 

{{.Red}}┌──────────────────────────────────────────────────────────────────────┐
{{.Red}}│{{.Blue}} Education                                                            {{.Red}}│
{{.Red}}└──────────────────────────────────────────────────────────────────────┘{{.Reset}}

 {{.Bold}}Software Development{{.Reset}}                                      2010 - 2013
 University of Awesomeness

 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
 eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
 minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
 aliquip ex ea commodo consequat. 
